################
## bear specific ignores
################

settings.cfm
bootstrap.more.css
ticket.cfm


## Modified suggestions from Github default file

#################
## Eclipse
#################

.project
.metadata

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

